:root {
  --primary-color: #131313;
}
html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #fffdfa;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;
}

.titlectb {
  /* font-family: Italiana; IMPORTED IN Navbar COMPONENT */
  font-size: 96px;
  font-weight: 300;
}
